#  sudo docker-compose -f resources-compose.yml -f docker-compose.yml up
#  sudo docker-compose -f zipkin-compose.yml -f resources-compose.yml -f docker-compose.yml up

version: '3.7'

networks:
  TO-DO-cloud-network:
    driver: bridge
  users-network:
    driver: bridge
  verification_tokens-network:
    driver: bridge

services:

  config-server:
    image: todo-config-server:v1.0.0
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME=${GITHUB_USER}
      - SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD=${GITHUB_PASS}
    ports:
      - 8888:8888
    restart: always
    networks:
      - TO-DO-cloud-network


  eureka-server:
    image: todo-eureka-server:v1.0.0
    hostname: eureka-server
    ports:
      - 8761:8761
    restart: always
    networks:
      - TO-DO-cloud-network


  zuul-server:
    image: todo-zuul-server:v1.0.0
    environment:
      - CONFIG_SERVER=http://config-server:8888
    #      - EUREKA_SERVER=http://eureka-server:8761/eureka #Not necessary here, this value is taking from config server
    ports:
      - 8090:8090
    restart: always
    networks:
      - TO-DO-cloud-network
    depends_on:
      - config-server
      - eureka-server


  users-service:
    image: todo-user-service:v1.0.1
    environment:
#      - EUREKA_SERVER=http://eureka-server:8761/eureka #Not necessary here, this value is taking from config server
      - CONFIG_SERVER=http://config-server:8888
      - MONGO_DATABASE=users_db
      - MONGODB_USERS_HOST=users_db
      - MONGODB_USERS_PORT=27017
      - MONGODB_USERNAME=testUser
      - MONGODB_PASSWORD=pwd
    restart: always
    networks:
      - TO-DO-cloud-network
      - users-network
    links:
      - users_db
    depends_on:
      - config-server
      - eureka-server
      - users_db


  users-account-service:
    image: todo-user-account-service:v1.0.0
    environment:
      - CONFIG_SERVER=http://config-server:8888
      - MONGO_DATABASE=verification_tokens_db
      - MONGODB_USERS_HOST=verification_tokens_db
      - MONGODB_USERS_PORT=27017
      - MONGODB_USERNAME=testUser
      - MONGODB_PASSWORD=pwd
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
    restart: always
    networks:
      - TO-DO-cloud-network
      - verification_tokens-network
    depends_on:
      - config-server
      - eureka-server
      - users-service
      - verification_tokens_db


  oauth-service:
    image: todo-oauth-service:v1.0.0
    environment:
      - CONFIG_SERVER=http://config-server:8888
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK=DEBUG
#      - EUREKA_SERVER=http://eureka-server:8761/eureka #Not necessary here, this value is taking from config server
    restart: always
    networks:
      - TO-DO-cloud-network
    depends_on:
      - config-server
      - eureka-server
      - users-service