version: 2.1

orbs:
  maven: circleci/maven@1.0.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:14.0.1-jdk-buster-browsers-legacy
    steps: # a collection of executable commands
      - checkout # check out source code to working directory
      - run: mvn package # run the actual tests

#workflows:
#  maven_test:
#    jobs:
#      - maven/test # checkout, build, test, and upload test results

